<main class="flex-row justify-space-between">
    <div class="col-12 col-md-4">

      <div class="card">
        <h3 class="card-header text-uppercase">Search By User</h3>
        <form id="user-form" class="card-body">
          <label class="form-label" for="username">Username</label>
          <input name="username" id="username" type="text" autofocus="true" class="form-input" />
          <button type="submit" class="btn">Get User</button>
        </form>
      </div>

      <div class="card">
        <h3 class="card-header text-uppercase">Search By Topic</h3>
        <div id="language-buttons" class="card-body">
          <!-- These data-attribute values will be used to search for repositories when a button is clicked. -->
          <button data-language="javascript" class="btn">JavaScript</button>
          <button data-language="html" class="btn">HTML</button>
          <button data-language="css" class="btn">CSS</button>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-8">
      <h2 class="subtitle">Showing Repositories for: <span id="repo-search-term"></span></h2>
      <!-- There needs to be an empty HTML element for us to write repository data to. -->
      <div id="repos-container" class="list-group"></div>
    </div>
  </main>